openapi: 3.0.3
info:
  title: RevPay API
  description: API para gerenciar pré-aprovações de compras e links de pagamento.
  version: 1.0.0
  contact:
    name: Suporte RevPay
    email: suporte@revpay.com.br
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://service-develop.revpay.com.br
    description: Servidor de desenvolvimento

paths:
  /purchase/pre-aproval:
    post:
      summary: Criar uma pré-aprovação de análise de crédito
      description: Envia uma solicitação para pré-aprovação de análise de crédito com base nos detalhes do usuário.
      operationId: createCreditAnalysis
      requestBody:
        description: Detalhes do usuário para análise de crédito
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCreditAnalysisDTO'
      responses:
        '201':
          description: Análise de crédito criada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCreditAnalysisResponseDTO'
        '400':
          description: Entrada inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /purchase/create-payment:
    post:
      summary: Criar um link de pagamento
      description: Gera um link de pagamento para uma compra com base nos detalhes fornecidos.
      operationId: createPaymentLink
      requestBody:
        description: Detalhes do pagamento para gerar um link
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePaymentDTO'
      responses:
        '201':
          description: Link de pagamento criado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePaymentResponseDTO'
        '400':
          description: Entrada inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /get-payment-info:
    get:
      summary: Obter informações de pagamento
      description: Recupera o status de um pagamento com base no ID da fatura.
      operationId: getPaymentInfo
      parameters:
        - name: invoiceId
          in: query
          description: Identificador único da fatura
          required: true
          schema:
            type: string
            example: "inv_12345"
      responses:
        '200':
          description: Informações de pagamento recuperadas com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPaymentInformationResponseDTO'
        '400':
          description: Entrada inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /get-client-info:
    get:
      summary: Obter informações do cliente
      description: Recupera o status e o limite de crédito de um cliente com base no CPF.
      operationId: getClientInfo
      parameters:
        - name: cpf
          in: query
          description: CPF brasileiro (Cadastro de Pessoas Físicas)
          required: true
          schema:
            type: string
            example: "123.456.789-00"
      responses:
        '200':
          description: Informações do cliente recuperadas com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetResellerInformationResponseDTO'
        '400':
          description: Entrada inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /register-webhook:
    post:
      summary: Registrar um webhook
      description: Registra uma URL de webhook para receber notificações.
      operationId: registerWebhook
      requestBody:
        description: URL do webhook a ser registrado
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterWebhookDTO'
      responses:
        '201':
          description: Webhook registrado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterWebhookResponseDTO'
        '400':
          description: Entrada inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  schemas:
    CreateCreditAnalysisDTO:
      type: object
      required:
        - cpf
        - birthdate
        - phone
      properties:
        cpf:
          type: string
          description: CPF brasileiro (Cadastro de Pessoas Físicas)
          example: "123.456.789-00"
        birthdate:
          type: string
          description: Data de nascimento do usuário
          example: "1990-01-01"
        phone:
          type: string
          description: Número de telefone do usuário
          example: "+5511999999999"
        name:
          type: string
          description: Nome completo do usuário
          example: "João Silva"
        email:
          type: string
          format: email
          description: Endereço de e-mail do usuário
          example: "joao.silva@example.com"
        occupation:
          type: string
          description: Ocupação do usuário
          example: "Engenheiro de Software"
        nationality:
          type: string
          description: Nacionalidade do usuário
          example: "Brasileiro"
        address:
          type: object
          properties:
            street_name:
              type: string
              example: "Rua das Flores"
              description: Nome da rua
            number:
              type: string
              example: "123"
              description: Número do endereço
            neighborhood:
              type: string
              example: "Centro"
              description: Bairro
            zip_code:
              type: string
              example: "12345-678"
              description: CEP
            city:
              type: string
              example: "São Paulo"
              description: Cidade
            state:
              type: string
              example: "SP"
              description: Estado
            complement:
              type: string
              example: "Apto 45"
              description: Complemento do endereço

    CreateCreditAnalysisResponseDTO:
      type: object
      properties:
        limit:
          type: number
          description: Limite de crédito atribuído ao usuário
          example: 5000
        status:
          type: string
          enum:
            - approved
            - rejected
            - pending
          description: Status da análise de crédito
          example: "approved"

    CreatePaymentDTO:
      type: object
      required:
        - cpf
        - installments
        - marketToken
        - total_value
      properties:
        cpf:
          type: string
          description: CPF brasileiro (Cadastro de Pessoas Físicas)
          example: "123.456.789-00"
        installments:
          type: integer
          description: Número de parcelas do pagamento
          example: 12
        marketToken:
          type: string
          description: Token que identifica o mercado ou comerciante
          example: "market_abc123"
        total_value:
          type: number
          description: Valor total da compra
          example: 1200.50

    CreatePaymentResponseDTO:
      type: object
      required:
        - paymentLink
        - paymentId
      properties:
        paymentLink:
          type: string
          description: URL do link de pagamento
          example: "https://service-develop.revpay.com.br/pay/abc123"
        paymentId:
          type: string
          description: Identificador único do pagamento
          example: "pay_abc123"

    GetPaymentInformationDTO:
      type: object
      required:
        - invoiceId
      properties:
        invoiceId:
          type: string
          description: Identificador único da fatura
          example: "inv_12345"

    GetPaymentInformationResponseDTO:
      type: object
      properties:
        status:
          type: string
          description: Status do pagamento
          example: "completed"

    GetResellerInformationDTO:
      type: object
      required:
        - cpf
      properties:
        cpf:
          type: string
          description: CPF brasileiro (Cadastro de Pessoas Físicas)
          example: "123.456.789-00"

    GetResellerInformationResponseDTO:
      type: object
      properties:
        status:
          type: string
          description: Status do cliente
          example: "active"
        limit:
          type: string
          description: Limite de crédito do cliente
          example: "5000"

    RegisterWebhookDTO:
      type: object
      required:
        - url
      properties:
        url:
          type: string
          description: URL do webhook a ser registrado
          example: "https://example.com/webhook"

    RegisterWebhookResponseDTO:
      type: object
      properties:
        url:
          type: string
          description: URL do webhook registrado
          example: "https://example.com/webhook"

    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: integer
          example: 400
          description: Código do erro
        message:
          type: string
          example: "Requisição inválida"
          description: Mensagem de erro
